{% extends "base.html" %}

{% block title %}RAKURAKUTeX{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}

{% block content %}
    <h3 class="page-header">RAKURAKUTeX<数式の一覧></h3>
    <a href='http://127.0.0.1:8000/accounts/login/' class="btn btn-default btn-sm">ログイン</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>公式や定理</th>
          <th>数式表現</th>
          <th>Texコード</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.publisher }}</td>
          <td><a href="{% url 'cms:impression_list' book_id=book.id %}" class="btn btn-default btn-sm btn-primary">数式・Tex確認</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
